body {
  font-family: lato, sans-serif;
  font-weight: 400;
  font-size: $default-font-size;
  line-height: 1.7;
  color: $gray-color;
}
.primary-heading {
  text-transform: uppercase;
  color: $white-color;
  backface-visibility: hidden;
  margin-bottom: 5rem;
  &--main {
    font-weight: 400;
    font-size: 6rem;
    display: block;
    letter-spacing: 3.5rem;
    animation-name: moveLeftToRight;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    @include respond(phone) {
      letter-spacing: 1rem;
      font-size: 5rem;
    }
  }
  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.74rem;
    animation-name: moveRightToLeft;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    @include respond(phone) {
      letter-spacing: 0.5rem;
    }
  }
}
.secondary-heading {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    $light-main-color,
    $dark-main-color
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
  @include respond(tab-port) {
    font-size: 3rem;
  }
  @include respond(phone) {
    font-size: 2.5rem;
  }
  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($black-color, 0.2);
  }
}
.tertiary-heading {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}
.paragraph {
  &:not(:last-child) {
    font-size: $default-font-size;
    padding-bottom: 3rem;
  }
}
